# Resaltar archivos PHP
*.php linguist-language=PHP

# Ignorar archivos JavaScript para la detección de lenguaje
*.js linguist-detectable=false

public/js/* linguist-detectable=false

* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore

